<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Buro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" *ngIf="(auth.isAuthenticated$ | async)">
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
      </li>
    </ul>
  </div>
  <button (click)="loginWithRedirect()" *ngIf="!(auth.isAuthenticated$ | async)">Ingresar</button>
  <button (click)="logout()" *ngIf="(auth.isAuthenticated$ | async)">Salir</button>
</nav>
<router-outlet></router-outlet>