<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Solicitudes pendientes</h4>
                      <p class="card-category">Aprobacion de usuarios por mayoria</p>
                  </div>
                  <div class="card-body">
                    <div class="tab-pane" id="settings">
                      <table class="table">
                          <tbody>
                              <tr>
                                  <td>
                                      <div class="form-check">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="">
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                      </div>
                                  </td>
                                  <td>Gustavo Ramirez Peralta</td>
                                  <td>3/10</td>
                                  <td class="td-actions text-right">
                                    <button active=false mat-raised-button type="button" matTooltip="Aprobar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">check</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Desaprobar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                              </tr>
                              <tr>
                                  <td>
                                      <div class="form-check">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="" checked>
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                      </div>
                                  </td>
                                  <td>Maria Fernanda Calizaya Ramirez</td>
                                    <td>3/10</td>
                                  
                                  <td class="td-actions text-right">
                                      <button active=false mat-raised-button type="button" matTooltip="Aprobar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">check</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Desaprobar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">close</i>
                                      </button>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <div class="form-check">
                                          <label class="form-check-label">
                                              <input class="form-check-input" type="checkbox" value="" checked>
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                      </div>
                                  </td>
                                  <td>Gustavo Espinoza Arteaga</td>
                                  <td>7/10</td>
                                  <td class="td-actions text-right">
                                    <button active=false mat-raised-button type="button" matTooltip="Aprobar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">check</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Desaprobar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Editar</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
